body {
  background-image: url("background.jfif");
  margin: auto;
  padding: auto;
}
.header {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  height: 40px;
}
.Student {
  background-color: blue;
  color: white;
  width: 50%;
  margin: 100px 87px;
  padding: 15px 34px 24px;
}
